<div id="login" class="ui modal" ng-controller="LoginCtrl">
	<form name="loginForm" class="ui form" ng-submit="login(user, loginForm.$valid)">
	  	<div class="field" ng-class="{'error':loginForm.email.$error.pattern}">
			<div class="ui icon input big" >
			    <input type="text" name="email" ng-model="user.email" placeholder="Email Address" ng-pattern="regex.email" ng-minlength="1" required>
			    <i class="check circular icon outline green" ng-if="loginForm.email.$valid"></i>
			    <i class="remove circular icon outline red" ng-if="loginForm.email.$error.pattern"></i>
		    </div>
	  	</div>
	  	<div class="field">
		  	<div class="ui icon input big">
		    	<input type="password" name="password" ng-model="user.password" placeholder="Password" ng-minlength="2" required>
		    	<!-- <i class="check circular icon outline green" ng-if="loginForm.password.$valid"></i> -->
			    <!-- <i class="remove circular icon outline red" ng-if="loginForm.password.$error.minlength"></i> -->
	  		</div>
	  	</div>
	  	<div class="ui error message">
	  		{{error}}
  		</div>
		<button class="ui button big teal">Login</button>
	</form>
	<div class="info">You don't have an account? <a href="" class="tealLink" ng-click="showBox('welcome')">Create Account</a></div>
</div>