#footer{
	display: block;
	// position: absolute;
	// left: 0px;
	// right: 0px;
	// bottom: 0px;
	height: 60px;
	padding: 0.6em;
	border-top: 1px solid @teal-light;
	border
	// background-color: @grey-ee;
	// margin-left: 300px;
	text-align: center;
	margin-left: -40px;
	margin-right: -60px;
	margin-top: 60px;	

	.connected{
		text-align: center;
		font-size: 0.8em;
	}

	ul.footerMenu{
		padding: 0px;
		margin: 0px;
		text-transform: uppercase;
		list-style-type: none;
		font-size: 0.8em;
		text-align: center;

		font-weight: lighter;
		li{
			display: inline;
			padding: 5px;
			&:last-child{
				display: block;
			}
		}
	}
}