<div id="chat" ng-class="{'chatOpen':chatOpen}">
	<!-- <h1>Chat</h1> -->
	<div class="messages">
		<div class="message" ng-repeat="m in data track by $index">
			<div class="meta">
				<span class="name">{{m.from}}</span>
				<span class="time">{{m.time | date:"HH:mm:ss"}}</span>
			</div>
			<div class="text">{{m.message}}</div>
		</div>
	</div>

	<form name="withdrawForm" class="ui form messageForm" ng-submit="submit(newMessage)">
		<div class="ui action input">
		  	<input type="text" ng-model="newMessage" placeholder="Type a message here..." autofocus required>
		  	<button class="ui button teal">Send</button>
		</div>
	</form>
	<p>
		{{subscriptions}}
	</p>
	<a class="arrowChat" ng-click="chatToogle()">
		<i class="talk icon teal"></i>
		<!-- <i ng-if="chatOpen" class="angle left icon teal"></i> -->
		<!-- <i ng-if="!chatOpen" class="angle right icon teal"></i> -->
	</a>
	<div online></div>
</div>