#chat{	
	background-color: #FFF;
	width: 300px;
	padding: 10px;
	position: absolute;
	top: 70px;
	bottom: 0px;
	left: -300px;
	position: fixed;
	z-index: 1;
	transition: @time-to-open;
	transition-timing-function: ease-in;
	&.chatOpen{
		left: 0px;
		transition: @time-to-open;
		transition-timing-function: ease-out;
	}
	
	::-webkit-scrollbar {
	    -webkit-appearance: none;
	  	width: 4px;
	}

	::-webkit-scrollbar-thumb {
	  	border-radius: 2px;
	  	background-color: rgba(0, 0, 0, .2);
	    -webkit-box-shadow: 0 0 2px rgba(255, 255, 255, .2);
	}

	a.arrowChat{
		position: absolute;
		display: block;
		padding: 10px 6px;
		background-color: #FFF;
		right: -42px;
		top: 10px;
		cursor: pointer;
		font-size: 1.6em;
		// cursor: hand;
		// bottom: 0px;
		border-top-right-radius: 0.3em;
		border-bottom-right-radius: 0.3em;
		// opacity: .5;
		&:hover{
			// opacity: 1;
			background-color: @grey-ee;
		}
	}

	.messages{
		display: block;
		position: absolute;
		top: 10px;
		bottom: 100px;
		left: 10px;
		right: 	5px;
		overflow-y: scroll;

		.message{
			margin-bottom: 10px;
			margin-right: 10px;
			.meta{
				display: flex;
				justify-content: space-between;

				.name{
					display: flex;
					font-weight: bold;
				}	

				.time{
					opacity: .5;
				}	
			}
			.text{
				word-wrap: break-word;
				opacity: .7;
			}

		}
	}

	.messageForm{
		position: absolute;
		bottom: 40px;
		left:10px;
		right: 10px;
		border-top: 1px solid @grey-ee;
		padding-top: 10px;
		.input{
			width: 100%;
			input{
				width: auto;
			}
		}
	}

}