#update-account{
	background-color: @grey-ee;
	.header,
	.content{
		background-color: transparent;
	}

	.closeBtn{
		position: absolute;
		top: 20px;
		right: 5px;
		font-size: 2.2em;
		cursor: pointer;
		color: @grey-99;

		&:hover{
			color: @grey-33;
		}
	}

	.info{
		padding: 5px;
	}
	
	ul.loginBox{
		list-style-type: none;
		padding: 0px;
		margin: 0px;
		float: right;
		li{
			float: right;
			padding-left: 5px;
		}
	}
}