<div id="update-account" ng-controller="UpdateAccountCtrl" class="ui modal">
	<i class="icon remove circle closeBtn" ng-click="close()"></i>
	<div class="header">Create Account</div>
	<div class="content">
		<form name="updateAccount" class="ui form" ng-submit="update(user, updateAccount.$valid)">
			<div class="field" ng-class="{'error':updateAccount.email.$error.pattern}">
				<div class="ui icon input big">
				    <input type="text" name="email" ng-model="user.email" placeholder="Email (optional)" ng-pattern="emailPattern" ng-minlength="1" required>
				    <i class="check circular icon outline green" ng-if="updateAccount.email.$valid"></i>
				    <i class="remove circular icon outline red" ng-if="updateAccount.email.$error.pattern"></i>
			    </div>
		  	</div>
		  	<div class="field" ng-class="{'error':updateAccount.password.$error.minlength}">
			  	<div class="ui icon input big">
			    	<input type="password" name="password" ng-model="user.password" placeholder="Password (optional)" ng-minlength="2" required>
			    	<i class="check circular icon outline green" ng-if="updateAccount.password.$valid"></i>
				    <i class="remove circular icon outline red" ng-if="updateAccount.password.$error.minlength"></i>
		  		</div>
		  	</div>
		  	<div class="field" ng-class="{'error':updateAccount.confirmpassword.$error.compare}">
			  	<div class="ui icon input big">
				    <input type="password" name="confirmpassword" compare="user.password" ng-model="user.confirmpassword" placeholder="Confirm Password" required>
				    <i class="check circular icon outline green" ng-if="updateAccount.confirmpassword.$valid"></i>
				    <i class="remove circular icon outline red" ng-if="updateAccount.confirmpassword.$error.compare"></i>

		    	</div>
		  	</div>
		  	<div class="ui message">You do not have to set a password or email in order to play the Shell Game.</div>
	  	 	<div class="ui error message">
		  		{{message}}
	  		</div>
		  	<button class="ui button big teal">Update Account</button>
		</form>
		<!-- <div class="info">Already have an account? <a href="" class="tealLink" ng-click="showBox('login')">Login In</a> </div> -->
	</div>
</div>
