<div id="welcome" ng-controller="WelcomeCtrl">
	<form name="welcomeForm" class="ui form" ng-submit="join(user, welcomeForm.$valid)">
		<div class="field" ng-class="{'error':welcomeForm.fullName.$error.minlength}">
			<div class="ui icon input big" >
			    <input type="text" name="fullName" ng-model="user.fullName" placeholder="Full Name" ng-minlength="5" required>
			    <i class="check circular icon outline green" ng-if="welcomeForm.fullName.$valid"></i>
			    <i class="remove circular icon outline red" ng-if="welcomeForm.fullName.$error.minlength"></i>
		    </div>
	  	</div>
	  	<div class="ui error message">
	  		{{message}}
  		</div>
	  	<button class="ui button big teal">Join {{countAccounts}} Players</button>
	</form>
	<div class="info">Already have an account? <a href="" ng-click="showBox('login')" class="tealLink">Login In</a> </div>
</div>