#main{
	position: relative;

	.title{
		text-align: center;
	}

	h1{
		padding: 0px;
		margin: 0px;
		margin-bottom: 5px;
	}
	h5{
		font-weight: lighter;
		text-align: center;
		padding: 0px;
		margin: 0px;
	}

	.table{
		width: 100%;
		height: 300px;
		display: block;
		background-color: #eee;
		margin: 20px 0px;
	}

	.wrapperButtons{
		margin-top: 14px;
		margin-bottom: 10px;
		text-align: center;
	}

	.button{
		text-transform: uppercase;
		text-align: center;
		&:hover{
			cursor: pointer;
		}
	}

	.status{
		padding: 24px;
		text-align: center;
		.label{

		}
	}

	.gameWrapper{
		background: url("./../img/table.png") no-repeat center bottom;
		background-size: contain;
		margin: auto;
		// background-size:10vmin 100%;
		width: 600px;
		height: 300px;
		display: block;
		padding: 0px 100px;

		ul.game{
			display: flex;
			text-align: center;
			list-style-type: none;
			padding: 90px 40px 0px 40px;
			margin: 0px;


			li{
				position: relative;
				display: inline;
				text-align: center;
				height: 120px;
				width: 100%;
				.bitcoin{
					position: absolute;
					display: none;
					background: url("./../img/bitcoin.png") no-repeat center center;
					background-size: contain;
					width: 44px;
					height: 20px;
					left: 60px;
					top: 95px;
					z-index: -1;

				}
				.cup{
					position: absolute;
					background: url("./../img/glass_closed.png") no-repeat center center;
					display: block;
					background-size: contain;
					width: 100%;
					height: 100%;

					&.open{
						background: url("./../img/glass_open.png") no-repeat center center;
						background-size: contain;
					}
				}

				&.disabled {
				  	pointer-events: none;
				  	filter:contrast(80%);
				}

				// &:hover{
				//  	filter:contrast(140%);
				// }
				// &.active{
				//  	filter:contrast(165%);
				// }
				// cursor: pointer;
				// &.selected{
				// 	font-size: 16px;
				// 	text-align: center;
				// 	font-weight: bold;
				// }
			}
		}
	}
}