<div id="main" ng-controller="MainCtrl" >
	<h1 class="title">Welcome to Shell Game!</h1>
	<h5>The most fair game to mutiply your bitcoins.</h5>
	<div class="wrapperButtons">
		<button class="ui button teal" ng-click="openPopup('wallet', 'deposit', true)">Deposit</button>
		<button class="ui button" ng-click="openPopup('wallet', 'withdraw', true)">Withdraw</button>
		<button class="ui button" ng-click="openPopup('wallet', 'faucet', true)">Faucet</button>
	</div>
	<div class="gameWrapper">
		<ul class="game" >
			<li class="cupWrapper" id="{{cup.id}}" ng-repeat="cup in cups" ng-class="{'disabled':disableGame}" ng-click="selectCup($event, cup.id)" ng-init="startAnimation()">
				<div class="cup"></div>
				<div class="bitcoin"></div>
			</li>
		</ul >		
	</div>

	<div class="ui grid status">
		<div class="eight wide column">
			<div class="ui label"><i class="circle icon teal"></i>{{usersOnline}} online</div>
		</div>
		<div class="eight wide column">
			<div class="ui label"><i class="circle icon teal"></i>{{roomsOnline}} games</div>
		</div>
	</div>

	<div class="ui container center aligned">
		<button class="ui button teal big startPlay" ng-click="findARoom($event)">Start Play</button>
	</div>

	<div footer></div>
</div>