#betAmount{
	max-width: 560px;
	min-width: 450px;
	width: 450px;
	margin: 0 auto;
	margin-top: 30px;	

	.betAmount{
		display: flex;
		margin: 0px;
		font-size: 1.6em;
		&.error{
			.label{
				background: @red-lighter;
    			border-color: @red-light;
    			color: @red-dark;

			}
			input{
				color: @red-dark;
				border-color: @red-light;
			}
		}

		.label{
			display: inline-block;
			border: 1px solid @grey-da;
			background-color: #fff;
			border-right: none;
			border-top-left-radius: 0.2em;
			flex: 0 0 auto;
			line-height: 1em;
			padding: 10px 20px 10px 20px;
			&.disabled{
				background-color: @grey-ee;
			}
		}
		input{
			padding: 10px;
			// background-color: @grey-e4;
			display: inline-block;
			color: @brown;
			text-align: center;
			
			border: 1px solid @grey-da;
			border-top-right-radius: 0.2em;
			border-left: none;
			border-top-left-radius: 0;
			border-bottom-right-radius: 0;
			border-bottom-left-radius: 0;
			padding-right: 70px;
		}

		:disabled{
			opacity: 1;
			background-color: @grey-ee;
		}
	}

	ul.betValues{
		padding: 0;
		margin: 0;
		
		display: flex;
		list-style: none;
		// margin-left: 60px;
		li{
			margin-top: -40px;
			cursor: pointer;
			min-width: 70px;
			width: 164px;
			display: none;
			z-index: -1;
			padding: 10px 5px;
			background-color: @grey-ec;
			margin-left: 6px;
			// width: 15.8%;
			text-align: center;
			border: 1px solid @grey-da;
			border-top: none;
			border-radius: 0.3em;
			border-top-right-radius: 0;
			border-top-left-radius: 0;

			&:hover{
				background-color: @grey-f4;	
			}
			&:first-child{
				margin-left: 0;
			}
			// &.active{
			// 	margin-top: -1px;
			// 	background-color: #fff;
			// }
		}
	}



}