#startup{
	// position: absolute;
	// top: 0;
	// bottom: 0;
	// width: 100%;
	// height: 100%;
	// background: @black-alpha;
	// display: flex;
	// align-items: center;
	// justify-content:center;
	// z-index: 9;

	.wrapper{
		display: block;
		// width: 600px;
		background-color: #EEE;
		border: 1px solid @grey-cc;
		padding: 40px;
		text-align: center;
		position: relative;

		.closeBtn{
			position: absolute;
			top: 10px;
			right: 3px;
			font-size: 1.6em;
			opacity: 0.5;
			cursor: pointer;
			&:hover{
				opacity: 1;
				// font-size: 1.8em;
			}	
		}
		
		#logo{
			.subtitle{
				color: @grey-33;
			}
		}
		// justify-content: center;
	}
}