#room{
	position: relative;
	min-width: 600px;
	.container{
		.message{
			width: 450px;
			margin: 20px auto; 
			margin-bottom: 0px;
		}
	}

	ul.players{
		position: relative;

		li{
			list-style-type: none;
			position: absolute;
			right: 0px;
			left: auto;
			text-align: center;
			&.me{
				right: auto;
				left: 0px;
			}

			.name{
				font-size: 0.8em;
			}

			.totalAmount{
				margin-top: 8px;
				border-radius: 1em;
				border: 1px solid @grey-dd;
				background-color: @grey-ee;
				font-weight: bold;
				color: @brown;
				// color: @teal-dark;
				padding: 2px 12px;
			}

			.player{
				width: 86px;
				height: 86px;
				display: block;
				background-color: @grey-f8;
				border-radius: 100%;
				border: 1px solid @grey-dd;
				margin: 0 auto;
				background: url("./../img/user.png") no-repeat center 7px;
				background-size: cover;
			}
		}
	}

	.endGameWrapper{
		position: absolute;
		width: 100%;
		height: 90px;
		.win{
			background: url("./../img/win.png") no-repeat center center;
			background-size: contain;
			height: 90px;
			display: block;
		}

		.lost{
			background: url("./../img/lost.png") no-repeat center center;
			background-size: contain;
			height: 90px;
			display: block;
		}
	}

	.rejectButton,
	.playButton{
		text-transform: uppercase;
		border-radius: 2em;
		margin: 20px;
		width: 200px;
	}

	.rejectButton{
		margin: 0px;
	}

	.gameWrapper{
		background: url("./../img/table.png") no-repeat center bottom;
		background-size: contain;
		margin: auto;
		// background-size:10vmin 100%;
		width: 600px;
		height: 320px;
		display: block;
		padding: 0px 100px;

		ul.game{
			display: flex;
			text-align: center;
			list-style-type: none;
			padding: 120px 40px 0px 40px;
			margin: 0px;


			li{
				position: relative;
				display: inline;
				text-align: center;
				height: 120px;
				width: 100%;
				.bitcoin{
					position: absolute;
					display: none;
					background: url("./../img/bitcoin.png") no-repeat center center;
					background-size: contain;
					width: 44px;
					height: 20px;
					left: 60px;
					top: 115px;
					z-index: -1;

				}
				.cup{
					position: absolute;
					background: url("./../img/glass_closed.png") no-repeat center center;
					display: block;
					background-size: contain;
					width: 100%;
					height: 100%;

					&.open{
						background: url("./../img/glass_open.png") no-repeat center center;
						background-size: contain;
					}
				}

				&.disabled {
				  	pointer-events: none;
				  	filter:contrast(80%);
				}

				&:hover{
				 	filter:contrast(140%);
				}
				&.active{
				 	filter:contrast(165%);
				}
				cursor: pointer;
				&.selected{
					font-size: 16px;
					text-align: center;
					font-weight: bold;
				}
			}
		}
	}
}