<div id="room" ng-controller="RoomCtrl">
	<div class="ui container center aligned">
		<!-- <div class="win"><div class="hand"></div></div> -->
		<div class="messageDisplay">
			<i class="notched circle loading icon" ng-if="status.code === 0"></i>{{status.info}}
			<div class="timer" ng-if="timeout">{{timeoutStart}}</div>
		</div>
	</div>
	<!-- Host:{{room.players[socketId].host}} {{player.socketId}} -->
	<!-- Frozen:{{room.frozen}} -->
	<ul class="players">
		<li ng-class="{'me':player.socketId === socketId}"  ng-repeat="player in room.players track by $index">
			<div class="player"></div>
			<div class="totalAmount">Ƀ {{player.totalAmount}}</div>
			<div class="name">{{player.name}}</div>
		</li>
	</ul>

	<div class="endGameWrapper">
		<div class="win" ng-if="status.code === 25 || status.code === 27"></div>
		<div class="lost" ng-if="status.code === 26 || status.code === 28"></div>
<!-- 		<div class="win" ></div>
		<div class="lost" ></div> -->
	</div>

	<div class="gameWrapper">
		<ul class="game" >
			<li class="cupWrapper" id="{{cup.id}}" ng-repeat="cup in cups" ng-class="{'disabled':disableGame}" ng-click="selectCup($event, cup.id)">
				<div class="cup"></div>
				<div class="bitcoin"></div>
			</li>
		</ul>
	</div>
	<!-- {{status.code}} -->
	<form name="betForm" class="ui form" ng-submit="play($event, betForm.$valid)">
		<div ng-show="room.players[socketId].host || showBetAmount" ng-class="{'disabled':disableGame}" bet-amount></div>
		<!-- <div>{{}}</div> -->
		<div class="ui container center aligned">
			<div class="ui error message hidden" compile="error">
		  		{{error}}
	  		</div>
			<button type="submit" class="ui button massive playButton teal ui center aligned" ng-class="{'disabled':disableButton}">play</button>
			<br />
			<button type="button" class="ui button big rejectButton ui center aligned" ng-class="{'disabled':disableButton}" ng-click="swapPlayers($event)">reject</button>
		</div>
	</form>
	<div footer></div>
</div>