#logo{
	margin-top: 5px;
	.title{
		text-transform: uppercase;
		font-size: 2.45em;	
		color: white;
		font-family: 'Dosis', sans-serif;
		font-weight: normal;
		.square{
			background-color: #fff;
			padding: 0px 8px;
			border-radius: 10px;
			color: @brown;
		}

	}

	.subtitle{
		font-family: 'Roboto', sans-serif;
		font-weight: 300;
		margin-top: 10px;
		text-transform: uppercase;
		font-size: 0.76em;
		color: #FFF;
	}


	&.reverse{
		.title{
			color: @brown;
		}
		.square{
			background-color: @brown;
			color: white;
		}
	}

}