#header{
	height: 70px;
	min-width: 480px;
	padding: 1em;
	background-color: @brown;
	display: block;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 0px;
	z-index: 10;
	// padding-left: 1em;

	#logo{
		float: left;
	}

	ul.mainMenu{
		padding: 8px;
		margin: 0px;
		text-transform: uppercase;
		list-style-type: none;
		font-size: 1.1em;
		float: right;
		font-weight: lighter;
		li{
			float: left;
			padding: 5px;
			a{
				color: @grey-ee;
				&:hover{
					color: white;
				}
			}
		}
	}
}