#balance{
	// z-index: 11;
	.popup{
		// z-index: 1;
	}	
	.buttons{
		float: right;

		.button{
			padding: 0.3em 1.2em;
		}
		.balance{
			border-radius: 0.6em 0em 0em 0.6em;
			background-color: @grey-f4;
			&:hover{
				background-color: @grey-ee;
			}

			.title{
				font-weight: bold;
				text-transform: uppercase;
				font-size: 0.7em;
				padding-bottom: 0.2em;
			}

			.totalAmount{
				color: @teal;
				font-size: 1.4em;
				font-weight: normal;
			}

			text-align: center;
		}

		.settings{
			padding: 0.6em 1em;
			line-height: 1.9em;
			background-color: @grey-f4;
			border-radius:    0em 0.6em 0.6em  0em;
			border-left: 1px solid @grey-d9;
			&:hover{
				background-color: @grey-ee;
			}
			.icon{
				margin: 0px;
			}
			.loginAs{
				margin-bottom: 10px;
			}
		}
	}
}
