#limits {
	padding: 10px 50px;

	h1{
		text-align: center;
		font-size: 1em;
	}
	.playNow{
		text-transform: uppercase;
		margin-top: 100px;
	}
	.sliderValue{
		font-size: 2em;
		text-align: center;
	}

	.info{
		font-size: 0.8em;
		padding: 15px;
	}

	.rzslider{
		.rz-pointer{
			background-color: @teal;
			&.rz-active{
				&:focus{
					outline:none;
				}

				&:after{
					background-color: #fff;
				}
			}
		}
		.rz-bar.rz-selection{
			background-color: @teal;
		}
		.rz-bar{
			background-color: @grey-ee;
		}
	}

	.rz-ticks{
		li{
			background-color: @grey-ee;
		}
		li.rz-selected{
			background-color: @teal;
		}
	}
}