<div id="transactions" class="ui modal" ng-controller="TransactionsCtrl" ng-init="getTransactions(null, 'all')">
  	<div class="header">Transactions</div>
  	<div class="content">
	    <div class="ui menu top">
	      	<a class="item active" ng-click="getTransactions($event, 'all')"><i class="hourglass full icon icon"></i>All</a>
	      	<a class="item" ng-click="getTransactions($event, 'pending')"><i class="hourglass start icon"></i>Pending</a>
	      	<a class="item" ng-click="getTransactions($event, 'completed')"><i class="hourglass end icon"></i>Completed</a>
	    </div>

	    <!-- All transactions -->
	    <div class="ui tab all" data-tab="all">
	    	<table class="ui striped table">
			  	<thead>
				    <tr>
				      	<th>Date</th>
				      	<th>Status</th>
				      	<th>Type</th>
				      	<th>Address</th>
				      	<th>Amount</th>
				    </tr>
			  	</thead>
			  	<tbody>
			  		<tr ng-if="!data.transactions.length && !loader">
			  			<td colspan="5">No transactions found.</td>
			  		</tr>
			  		<tr ng-if="loader">
			  			<td colspan="5" ><div class="ui active centered inline loader"></div></td>
			  		</tr>
			    	<tr ng-repeat="transaction in data.transactions" ng-if="!loader">
			      		<td>{{transaction.date | date:"dd MMM yyyy \n hh:mma"}}</td>
			      		<td>{{transaction.status}}</td>
			      		<td>{{transaction.type}}</td>
			      		<td>{{transaction.address}}</td>
			      		<td>Ƀ {{transaction.amount}}</td>
				    </tr>
			  	</tbody>
			</table>
	    </div>	   
  	</div>
</div>