#transactions{
	.deposit{
		.title{
			padding: 5px 0px;
		}
		
		.info{
			font-size: 0.8em;
			padding: 8px 0px;
		}

		input{
			width: 310px;
		}
		
		.qrCodeWrapper{
			text-align: right;
		}
	}

	.withdraw{
		.info{
			font-size: 0.8em;
			padding: 0.5em 0em;
		}
	}
}