<div id="faq" ng-controller="FaqCtrl">
	<h1>FAQ</h1>
	<div class="ui list">
	  	<a class="item">What is a FAQ?</a>
	  	<a class="item">Who is our user?</a>
	  	<a class="item">Where is our office located?</a>
	</div>
	<div class="ui list">
	  <div class="item">
	    <a class="header">Header</a>
	    <div class="description">
	      Click a link in our <a>description</a>.
	    </div>
	  </div>
	  <div class="item">
	    <a class="header">Learn More</a>
	    <div class="description">
	      Learn more about this site on <a>our FAQ page</a>.
	    </div>
	  </div>
	</div>
</div>