<div id="rooms" ng-controller="RoomsCtrl">
	<h1>Rooms</h1>
	<!-- <button ng-click="createGame()">Create Game</button> -->
<!-- 	<table>
		<tr>
			<td><b>ID</b></td>
			<td><b>Create By</b></td>
			<td><b>Value</b></td>
			<td></td>
		</tr>		

		<tr ng-repeat="room in rooms track by $index">
			<td>{{room.id}}</td>
			<td><span ng-repeat="player in room.players track by $index">{{player.username}}</span></td>
			<td>{{room.value}} BTC</td>
			<td>
				<button ng-if="!(room.players.length == 2)" ng-click="join(room.id)">join</button>
				<button ng-if="(room.players.length == 2)" ng-click="view(room.id)">view</button>
			</td>
		</tr>
	</table> -->
	<p></p>
	<div bet-amount></div>
	<p>{{error}}</p>
</div>