#rooms{
	table{
		width: 100%;
	 	border-collapse: collapse;
    	border-spacing: 0;
		tr:first-child{
			border-top: 1px solid #333;
		}
		tr{
			padding: 0px;
			margin: 0px;

			td:last-child{
				text-align: center;
			}
		}
		td{
			border: 1px solid #999;
		}
	}

	ul {
		list-style-type: none;
	}

	
}