<div id="wallet" class="ui modal" ng-controller="WalletCtrl">
  	<div class="header">Wallet</div>
  	<div class="content">
	    <div class="ui menu top">
	      	<a class="item" data-tab="deposit"><i class="icon download"></i>Deposit</a>
	      	<a class="item" data-tab="withdraw"><i class="icon upload"></i>Withdraw</a>
	      	<a class="item" data-tab="faucet"><i class="icon leaf"></i>Faucet</a>
	      	<!-- <a class="item" data-tab="bonus"><i class="icon leaf"></i>Bonus</a> -->
	    </div>
	    
	    <!-- Deposit -->
	    <div class="ui tab deposit" data-tab="deposit">
	    	<!-- <div class="qrBitcoinAddress"></div> -->
	    	<div class="ui grid">
			  	<div class="eleven wide column">
				  	<div class="title">Your personal address is</div>
		    		<div class="ui action input">
					  	<input type="text" value="{{userData.wallet.address}}" class="copyAction bitcoinAddress">
					  	<button class="ui teal right labeled icon button copyAction"><i class="copy icon"></i> Copy </button>
	    			  	<div class="ui custom popup bottom center transition">Copied to clipboard.</div>
					</div>
					<div class="info">Deposits are credited within 1 confirmation depending on risk. Most deposits are credited within 30 seconds.</div>
				</div>
			  	<div class="five wide column qrCodeWrapper">
    				<qrcode data="{{userData.wallet.address}}" size="140"></qrcode>
			  	</div>
		  	</div>
	    </div>

	    <!-- Withdraw -->
	    <div class="ui tab withdraw" data-tab="withdraw">
	      	<form name="withdrawForm" class="ui form" ng-submit="submitWithdraw(withdraw, withdrawForm.$valid)" ng-if="!withdrawSubmitted">
				<div class="field"ng-class="{'error':withdrawForm.bitcoin_address.$error.pattern}" >
			      	<label>Bitcoin Address</label>
					<div class="ui icon input">
				    	<input type="text" name="bitcoin_address" ng-model="withdraw.address" placeholder="Bitcoin Address" ng-pattern="regex.bitcoinAddress" ng-minlength="1"  required>
					    <i class="check circular icon outline green" ng-if="withdrawForm.bitcoin_address.$valid"></i>
					    <i class="remove circular icon outline red" ng-if="withdrawForm.bitcoin_address.$error.pattern"></i>
				    </div>
			    </div>
	  			<div class="field" ng-class="{'error':withdrawForm.amount.$error.pattern}">
			      	<label>Amount</label>
				  	<div class="ui icon input labeled">
				      	<div class="ui label">Ƀ</div>
				      	<input type="text" name="amount" ng-model="withdraw.amount" placeholder="Amount (min 0.004)" ng-pattern="regex.bitcoinAmount" ng-minlength="1" required>
				    	<i class="check circular icon outline green" ng-if="withdrawForm.amount.$valid"></i>
					    <i class="remove circular icon outline red" ng-if="withdrawForm.amount.$error.pattern"></i>
			  		</div>

			  		<div class="info">The amount you can withdraw today is <a href="#" ng-click="withdraw.amount = userData.wallet.totalAmount">Ƀ {{userData.wallet.totalAmount}}</a>. Amount (min. 0.004).</div>
			    </div>
	  		  	<div class="ui error message">
			  		{{message}}
		  		</div>
			  	<button class="ui teal right labeled icon button withdrawAction"><i class="arrow right icon"></i> Withdraw </button>
			</form>
			<div ng-if="withdrawSubmitted">Your withdraw was submitted succesfully. <br/> <a href="#" ng-click="back()">back</a></div>
	    </div>	   

	    <!-- Faucet -->
	    <div class="ui tab faucet" data-tab="faucet">
	    	<form class="ui form" name="formFaucet" role="form" ng-submit="submitFaucet(captcha)"  ng-if="faucetSubmmited || !faucetStatus" novalidate>
	    		<div class="field">
			      	<label>Please use select the tickbox to proof you're not a robot.</label>
					<div vc-recaptcha key="siteKey" ng-model="captcha.myRecaptchaResponse"></div>
				</div>
				<div class="ui error message">
			  		{{message}}
		  		</div>
	      		<button class="ui teal right labeled icon button faucetAction" ng-disabled="formFaucet.$invalid"><i class="repeat icon"></i> Claim </button>
	      		<div class="info">
	      			You must have over 10 BTC wagered before your faucet starts increasing. The amount you can claim from the faucet is dependant on your level. Your level and more information about it can be viewed under the profile tab.
	      		</div>
  			</form>

			<!-- <div class="ui message" ng-if="faucetSubmmited">Succefully claim faucet.</div> -->
			<div class="ui message" ng-if="faucetStatus" ng-bind-html="faucetMessage"></div>
	      	
	    </div>
  	</div>
</div>