@font-face {
	font-family: 'Yanone_Kaffeesatz';
	src: url('../fonts/Yanone_Kaffeesatz/YanoneKaffeesatz-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Yanone_Kaffeesatz';
	src: url('../fonts/Yanone_Kaffeesatz/YanoneKaffeesatz-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Yanone_Kaffeesatz';
	src: url('../fonts/Yanone_Kaffeesatz/YanoneKaffeesatz-Light.ttf') format('truetype');
	font-weight: lighter;
	font-style: normal;
}
@font-face {
	font-family: 'Yanone_Kaffeesatz';
	src: url('../fonts/Yanone_Kaffeesatz/YanoneKaffeesatz-ExtraLight.ttf') format('truetype');
	font-weight: lighter;
	font-style: normal;
}

//Dosis Font
@font-face {
	font-family: 'Dosis';
	src: url('../fonts/Dosis/Dosis-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Dosis';
	src: url('../fonts/Dosis/Dosis-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Dosis';
	src: url('../fonts/Dosis/Dosis-Light.ttf') format('truetype');
	font-weight: lighter;
	font-style: normal;
}
@font-face {
	font-family: 'Dosis';
	src: url('../fonts/Dosis/Dosis-SemiBold.ttf') format('truetype');
	font-weight: bolder;
	font-style: normal;
}
//Roboto Font
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto/Roboto-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto/Roboto-Light.ttf') format('truetype');
	font-weight: lighter;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto/Roboto-SemiBold.ttf') format('truetype');
	font-weight: bolder;
	font-style: normal;
}


