a.tealLink {
	color: @teal;
	&:hover{
		font-weight: bold;
	}
}

.teal{
	color: @teal;
}

.messageDisplay{
	background: @grey-f8;
	padding: 15px 40px;
	border: 1px solid @grey-d9;
	border-radius: 0.4em;
	display: inline-block;
}