@grey-cc: #CCC;
@grey-dd: #DDD;
@grey-ee: #EEE;

@grey-33: #333;
@grey-66: #666;
@grey-99: #999;

@grey-d9: #D9D9D9;
@grey-f4: #F4F4F4;
@grey-f8: #F8F8F9;
@grey-e4: #E4E4E4;
@grey-e8: #E8E8E8;
@grey-da: #DADADA;
@grey-ec: #ECECEC;

@red-dark: #9F3A38;
@red-light: #E0B4B4;
@red-lighter: #FFF6F6;

@brown: #474539;
@blue: #2185D0;
@teal: #00B5AD;
@teal-light: #9DFAF6;
@teal-dark: #009596;

//Alpha colors
@grey-alpha-ee: rgba(238, 238, 238, 0.4);
@black-alpha: rgba(0, 0, 0, 0.4);


@time-to-open: 0.3s;
