body{
	background-color: @grey-f4;
	min-width: 680px;
	overflow-x:scroll;
	height: 100%;
}

.view{
	padding: 100px 100px 0px 80px;
	transition: @time-to-open;
	transition-timing-function: ease-in;
	&.windowOpen{
		transition: @time-to-open;
		transition-timing-function: ease-out;
		margin-left: 300px;
	}
}



