<div id="wallet" class="ui modal">
  	<div class="header">Header</div>
  	<div class="content">
    	<p>content</p>
  	</div>

	<h1>Wallet</h1>
	<p>{{account.firstName}} {{account.lastName}}</p>

	<p>Address: {{account.wallet.address}}</p>
	<p>Amount: {{account.wallet.totalAmount}} {{account.wallet.currency}}</p>
</div>

